* {
    margin: 0px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
}


.campoPesqui{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input[type=text]{
    
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

label{
    padding-right: 5px;
}

#pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    margin: 10px;
}



#btn_pesquisar{
background-color: #248;
color: #fff;
text-transform: uppercase;
padding: 10px;
cursor: pointer;
border-radius: 10px;
margin: 10px;
}

.dgv{
    display: flex;
    justify-content:center ;
    align-items: flex-start;
    width: 100%;
   

}
.resultado{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 1200px;
    

}

.titulos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: inherit;
    background-color: #248;
    color: #fff;
    

}
.titulo{
    border-right: 1px solid #ddd;
}
.dados{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: inherit;

}

.linhadados{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: inherit;
    background-color: #fff;
}

.c1{
    width: 10%;
}
.c2{
    width: 30%;
}
.c3{
    width: 15%;
}
.c4{
    width: 20%;
}
.c5{
    width: 25%;
}